<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phòng ban</title>
    <%- include partial/cdn.ejs %>
</head>
<body class="dashboardDepartment">
    <%- include partial/header.ejs %>
    <%- include partial/slideRightBar.ejs %>
</body>
</html>