<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phòng ban</title>
    <%- include partial/cdn.ejs %>
    <style>
        .dashboardDepartment{
            background-color: #ECEDF1;
        }
        .dashboardDepartment .breadcrumb{
            background-color: #fff;
        }
        .dashboardDepartment .breadcrumb a{
            color: #007bff;
        }
        .dashboardDepartment .breadcrumb a:hover{
            text-decoration: underline;
        }
        .dashboardDepartment .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e3e6f0;
            border-radius: .35rem;
            transition:all .15s ease-in;
        }
        .dashboardDepartment .card:hover{
            box-shadow: 8px 8px 8px blue;
            transform:scale(1.05);
        }
        .dashboardDepartment .card:hover p {
            color: red !important
        }
        .dashboardDepartment .card:hover{
            border-left: .25rem solid #28a745!important;
        }

        .dashboardDepartment .border-left-primary{
            border-left: .25rem solid #4e73df!important;
        }
        .dashboardDepartment .row a{
            text-decoration: none;
        }
    </style>
</head>

<body class="dashboardDepartment">
    <%- include partial/header.ejs %>
    <%- include partial/slideRightBar.ejs %>
    <div class="container mx-auto">
        <div class="gap2 pr-2 pl-2">
            <div aria-label="breadcrumb" class="mt-4" >
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Danh sách phòng ban</li>
                </ol>
            </div>
            <div class="row pt-4 mt-0">
                <a href="#" class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-primary shadow h-100 pb-0 mb-0">
                        <img class="card-img-top" src="images/avatar-default.jpg" width="100%" height="100%" alt="Card image cap">
                        <div class="card-footer">
                            <p class="card-text text-center">Phòng đại học</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-primary shadow h-100 pb-0 mb-0">
                        <img class="card-img-top" src="images/avatar-default.jpg" width="100%" height="100%" alt="Card image cap">
                        <div class="card-footer">
                            <p class="card-text text-center">Phòng đại học</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-primary shadow h-100 pb-0 mb-0">
                        <img class="card-img-top" src="images/avatar-default.jpg" width="100%" height="100%" alt="Card image cap">
                        <div class="card-footer">
                            <p class="card-text text-center">Phòng đại học</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-primary shadow h-100 pb-0 mb-0">
                        <img class="card-img-top" src="images/avatar-default.jpg" width="100%" height="100%" alt="Card image cap">
                        <div class="card-footer">
                            <p class="card-text text-center">Phòng đại học</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-primary shadow h-100 pb-0 mb-0">
                        <img class="card-img-top" src="images/avatar-default.jpg" width="100%" height="100%" alt="Card image cap">
                        <div class="card-footer">
                            <p class="card-text text-center">Phòng đại học</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-primary shadow h-100 pb-0 mb-0">
                        <img class="card-img-top" src="images/avatar-default.jpg" width="100%" height="100%" alt="Card image cap">
                        <div class="card-footer">
                            <p class="card-text text-center">Phòng đại học</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="col-xl-3 col-md-4 mb-4">
                    <div class="card border-left-primary shadow h-100 pb-0 mb-0">
                        <img class="card-img-top" src="images/avatar-default.jpg" width="100%" height="100%" alt="Card image cap">
                        <div class="card-footer">
                            <p class="card-text text-center">Phòng đại học</p>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
   
    
    <script src="/javascripts/main.js"></script>
    
</body>
</html>