<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ton Duc Thang University Social network</title>
    <%- include partial/cdn.ejs %>
</head>

<body>
    <div class="index-page">
        <div class="postoverlay"></div>
        <%- include partial/header-leftbar.ejs %>

        <section>
            <div class="gap2 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row merged20" id="page-contents">
                                <div class="col-lg-3">
                                    <aside class="sidebar static left">
                                        <div class="widget">
                                        </div>
                                    </aside>
                                </div>
                                
                                <div class="col-lg-6">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="central-meta postbox">
                                            <span class="create-post">Create post</span>
                                            <div class="new-postbox">
                                                <figure>
                                                    <img src="<%= user.image %>" alt="">
                                                </figure>
                                                <div class="newpst-input">
                                                    <form method="post">
                                                        <textarea class="statusTitle" name="statusTitle" rows="2" placeholder="Chia sẻ một thứ gì đó mà bạn nghĩ đến ?"></textarea>
                                                    </form>
                                                </div>
                                                <div class="attachments">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-image"></i>
                                                            <label class="fileContainer">
                                                                <input type="file" name="imageStatus" id="imageUpload" accept="image/*">
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-video"></i>
                                                            <label class="fileContainer">
                                                                <input type="file">
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-camera"></i>
                                                            <label class="fileContainer">
                                                                <input type="file">
                                                            </label>
                                                        </li>
                                                        <li class="preview-btn">
                                                            <button class="post-btn-preview" type="submit" data-ripple="">Xem lại</button>
                                                        </li>
                                                    </ul>
                                                    <button class="post-btn" type="button" data-ripple="">Đăng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="multi-card">
                                        <div class="card">
                                            <!--Information of post's user-->
                                            <div class="d-flex justify-content-between p-2 px-2">
                                                <div class="d-flex flex-row align-items-center">
                                                    <img src="/images/avatar-default.jpg" alt="" class="rounded-circle" width="52">
                                                    <div class="d-flex flex-column ml-2">
                                                        <span class="font-weight-bold">Huỳnh Lợi</span>
                                                        <small class="text-primary">Thông tin</small>
                                                    </div>
                                                </div>
                                                <!--Time and more-->
                                                <div class="d-flex flex-row mt-2 time">
                                                    <small class="mr-2">30 mins</small><i class="fa fa-ellipsis-h mr-4"></i>
                                                </div>
                                            </div>
                                            <!--Area of post-->
                                            <hr style="border: none;">
                                            <p class="text-justify ml-3">Lợi đẹp trai </p>
                                            <img src="/images/avatar-default.jpg" alt="" class="img-fluid">
                                            <!-- Number of Comment and Interactive-->
                                            <div class="d-flex justify-content-between align-items-centerl">
                                                <div class="d-flex flex-row icons d-flex align-items-center ml-3 interactive_color">
                                                    <span><i class="fa fa-thumbs-up"></i><a href=""> nam,loi,link,...</a> </span>
                                                </div>
                                                <div class="d-flex flex-row interactive_color m-3">
                                                    <span class="mr-3 cmt">Bình luận</span>
                                                    <span class="shares">Chia sẻ</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <!--Interative-->
                                            <div class="d-flex justify-content-between align-items-centerl mx-5">
                                                <div class="like">
                                                    <i class="fa fa-thumbs-up"></i> <span>Thích</span>
                                                </div>
                                                <div class="cmts">
                                                    <i class="fa fa-comments"></i> <span>Bình  luận</span>
                                                </div>
                                                <div class="shr">
                                                    <i class="fa fa-share-square"></i> <span>Chia sẻ</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <!--Comment-->
                                            <div class="comments mx-3">
                                                <div class="d-flex flex-row mb-2"> <img src="/images/avatar-default.jpg" width="40" class="round-img">
                                                    <div class="d-flex flex-column ml-2"> <span class="nameOfUser">User_Name</span> <small class="comment-text">What user was commented appear here</small>
                                                        <div class="d-flex flex-row align-items-center interactive_comment_color">
                                                            <small>Thích</small>
                                                            <small>Trả lời</small>
                                                            <small>Dịch</small>
                                                            <small>20 phút</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-input"> <input type="text" class="form-control">
                                                    <div class="fonts"><i class="fas fa-smile-beam"></i> <i class="fa fa-camera"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="notification">
                                        <div class="card widget-item">
                                            <h4 class="widget-title">Recent Notifications</h4>
                                            <div class="widget-body">
                                                <ul class="like-page-list-wrapper">
                                                    <li class="unorder-list">
                                                        <!-- profile picture end -->
                                                        <div class="profile-thumb">
                                                            <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                                                                <figure class="profile-thumb-small">
                                                                    <img src="/images/avatar-default.jpg" alt="profile picture">
                                                                </figure>
                                                            </a>
                                                        </div>
                                                        <!-- profile picture end -->
    
                                                        <div class="unorder-list-info">
                                                            <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                                                            <p class="list-subtitle">5 min ago</p>
                                                        </div>
                                                    </li>
                                                    <li class="unorder-list">
                                                        <!-- profile picture end -->
                                                        <div class="profile-thumb">
                                                            <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                                                                <figure class="profile-thumb-small">
                                                                    <img src="/images/avatar-default.jpg" alt="profile picture">
                                                                </figure>
                                                            </a>
                                                        </div>
                                                        <!-- profile picture end -->
    
                                                        <div class="unorder-list-info">
                                                            <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                                                            <p class="list-subtitle">10 min ago</p>
                                                        </div>
                                                    </li>
                                                    <li class="unorder-list">
                                                        <!-- profile picture end -->
                                                        <div class="profile-thumb">
                                                            <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                                                                <figure class="profile-thumb-small">
                                                                    <img src="/images/profile-small-15.jpg" alt="profile picture">
                                                                </figure>
                                                            </a>
                                                        </div>
                                                        <!-- profile picture end -->
    
                                                        <div class="unorder-list-info">
                                                            <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                                                            <p class="list-subtitle">18 min ago</p>
                                                        </div>
                                                    </li>
                                                    <li class="unorder-list">
                                                        <!-- profile picture end -->
                                                        <div class="profile-thumb">
                                                            <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                                                                <figure class="profile-thumb-small">
                                                                    <img src="/images/profile-small-6.jpg" alt="profile picture">
                                                                </figure>
                                                            </a>
                                                        </div>
                                                        <!-- profile picture end -->
    
                                                        <div class="unorder-list-info">
                                                            <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                                                            <p class="list-subtitle">25 min ago</p>
                                                        </div>
                                                    </li>
                                                    <li class="unorder-list">
                                                        <!-- profile picture end -->
                                                        <div class="profile-thumb">
                                                            <a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">
                                                                <figure class="profile-thumb-small">
                                                                    <img src="/images/profile-small-34.jpg" alt="profile picture">
                                                                </figure>
                                                            </a>
                                                        </div>
                                                        <!-- profile picture end -->
    
                                                        <div class="unorder-list-info">
                                                            <h3 class="list-title"><a href="https://demo.hasthemes.com/adda-preview/adda/index.html#">Any one can join with us if you want</a></h3>
                                                            <p class="list-subtitle">39 min ago</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="/javascripts/main.js"></script>

    <script>
        $(document).ready(function(){
            const socket =io()
            socket.on('connect', handleConnectionSuccess);
            socket.on('disconnect', () => {
                console.log("Mat ket noi voi server");
            });
            socket.on('list-users', handleUserList);
            socket.on('add-notification', (data)=> console.log("1 thong bao da them" + data));
            function handleUserList(user){
                console.log(user)
            }
            function handleConnectionSuccess(){
                console.log("da ket noi thanh cong voi id"+socket.id);
                let userId = '<%= user.id %>'
                socket.emit('register-id', {socketId:socket.id,userId:userId }) //gui id qua cho server
            }
        })
    </script>
</body>

</html>